In [1]:
import pandas as pd
import numpy as n
import matplotlib.pyplot as p
import seaborn as s
from sklearn.model_selection import train_test_split as t
from sklearn.linear_model import LinearRegression as l
from sklearn import metrics as m
%matplotlib inline

In [2]:
w=pd.read_csv("Weather.csv")

C:\Users\Sivant\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
w.columns

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR', 'MO', 'DA', 'PRCP', 'DR',
       'SPD', 'MAX', 'MIN', 'MEA', 'SNF', 'SND', 'FT', 'FB', 'FTI', 'ITH',
       'PGT', 'TSHDSBRSGF', 'SD3', 'RHX', 'RHN', 'RVG', 'WTE'],
      dtype='object')

In [4]:
w.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### storing the maxtemp and mintemp values in x and y

In [5]:
x=w["MinTemp"].values.reshape(-1,1)
y=w["MaxTemp"].values.reshape(-1,1)

##### splitting and storing the test and train variables

In [6]:
xtest,xtrain,ytest,ytrain=t(x,y,test_size=0.2,random_state=0)

##### storing 80% in train and 20% in test

In [7]:
reg=l()
reg.fit(xtrain , ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

##### predicting the y values with xtest values

In [8]:
ypred=reg.predict(xtest)

##### creating a dataframe using y train and y predicted value

In [9]:
df=pd.DataFrame({"Actual":ytest.flatten(),"Predicted":ypred.flatten()})

In [10]:
d=df.head(13).sort_values("Actual")
d

       Actual  Predicted
10   2.777778  10.854085
2    8.888889   2.235372
5   17.222222  18.458831
7   17.777778  25.049612
8   25.555556  30.626426
0   27.222222  31.133409
12  30.000000  30.119443
11  31.111111  25.049612
3   31.666667  31.133409
6   31.666667  34.175308
1   32.777778  27.077544
4   35.000000  28.091511
9   42.222222  36.710224

In [11]:
print("Mean Absolute Error:",m.mean_absolute_error(ytest,ypred))
a=m.mean_squared_error(ytest,ypred)
print("Mean Squared Error:",a)
print("Root Mean Squared Error:",n.sqrt(a))

Mean Absolute Error: 3.180157879091423
Mean Squared Error: 17.301440582708683
Root Mean Squared Error: 4.159500039993831