In [30]:
#importing Required Packages
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LogisticRegression as logr
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [28]:
a=pd.read_csv("weight_hight_data.csv")
del(a["Unnamed: 0"])
print(a)

      Gender     Height      Weight
0       1.01  73.847017  241.893563
1       1.01  68.781904  162.310473
2       1.01  74.110105  212.740856
3       1.01  71.730978  220.042470
4       1.01  69.881796  206.349801
...      ...        ...         ...
9995    2.02  66.172652  136.777454
9996    2.02  67.067155  170.867906
9997    2.02  63.867992  128.475319
9998    2.02  69.034243  163.852461
9999    2.02  61.944246  113.649103

[10000 rows x 3 columns]

In [13]:
k=0
for i in a["Gender"]:
    if i == 1.01:
        a["Gender"][k]=int(1)
    else:
        a["Gender"][k]=int(2)
    k+=1

In [14]:
a

      Gender     Height      Weight
0        1.0  73.847017  241.893563
1        1.0  68.781904  162.310473
2        1.0  74.110105  212.740856
3        1.0  71.730978  220.042470
4        1.0  69.881796  206.349801
...      ...        ...         ...
9995     2.0  66.172652  136.777454
9996     2.0  67.067155  170.867906
9997     2.0  63.867992  128.475319
9998     2.0  69.034243  163.852461
9999     2.0  61.944246  113.649103

[10000 rows x 3 columns]

In [15]:
x=a[["Weight","Height"]].values
y=a["Gender"].values

In [16]:
xtrain,xtest,ytrain,ytest=tts(x,y,test_size=0.2,random_state=1)

In [31]:
solve=['lbfgs','sag', 'saga' , 'newton-cg']
model=[]
k=0
for i in solve:
    model.append(logr(solver=i))
    model[k].fit(np.array(xtrain,dtype=float),np.array(ytrain,dtype=float))
    k+=1

In [32]:
ypredict
for i in model:
    ypredict=i.predict(xtest)
    print(ypredict)

[2. 1. 1. ... 2. 1. 1.]
[2. 1. 1. ... 2. 1. 1.]
[2. 1. 1. ... 2. 1. 1.]
[2. 1. 1. ... 2. 1. 1.]

In [19]:
b=pd.DataFrame({"actual":ytest,"predicted":ypredict})

In [20]:
confusion_matrix(ytest,ypredict)

array([[927,  94],
       [ 80, 899]], dtype=int64)

In [21]:

l.to_csv("trainingdata.csv")

NameError: name 'l' is not defined

In [36]:
kgs=float(input("enter your weight in kilograms"))
cms=float(input("enter your height in centimeters"))
xa=np.array([[cms,20462*kgs]])
for i in range(k):
    ypredict=model[i].predict(xa)
    if ypredict == 1:
        print("male")
    else:
        print("female")

enter your weight in kilograms65
enter your height in centimeters180
female
female
female
female